[submodule "gwcEngine/gwcEngine/vendor/spdlog"]
	path = gwcEngine/gwcEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "gwcEngine/gwcEngine/vendor/glm"]
	path = gwcEngine/gwcEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "gwcEngine/gwcEngine/vendor/GLFW"]
	path = gwcEngine/gwcEngine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
